@page
@model RecipeRazor.Pages.Categories.CategoryModel
@{
    ViewData["Title"] = "Categories";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-secondary"> Category List </h2>   
        </div>
        <div class="col-6">

        </div>

    </div>
    <br/> <br/>

     <table>
         <thead>
             <tr>
                 <th>
                     Category Name
                 </th>
             </tr>
         </thead>
         <tbody>
             
                 <tr>
                      
                </tr> 
          
         </tbody>
     </table>
</div>
