@page "{category}"
@model RecipeRazor.Pages.Categories.DeleteModel
@{
	ViewData["Title"] = "Delete";
}
<h2 class="my-4">Are you sure you want to delete this category?</h2>

<div class="container">
	<dl class="row">
		<dt>
			Category Name:
		</dt>
		<dd>
			@Model.Category
		</dd>
	</dl>

	<form method="post">
		<div class="btn-group float-end">
			<input type="submit" value="Delete" class="btn btn-danger" />
			<a class="btn btn-secondary" asp-page="Index">Back to List</a>
		</div>
	</form>
</div>