@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text">   
    <h1 class="display-1 text1 fw-bold">
      A Winning Dish
    </h1>
     <p>ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ</p>
     <h3 class="text2">A Recipe is a Story that ends with a good Meal</h3>
</div>


 <style>
     body{
          background-image: url('../images/background5.jpg');
          background-repeat:no-repeat;
          background-size:cover;
     }
     .text{
          padding:130px 1200px;
     }
     .text1{
         color:#F1B814;
         
         font-family:Bookman, URW Bookman L, serif; 
     }
     .text2{
         color:#490B3D;
          
     }
 </style>  