html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
   
}
.c-header {
    position: sticky;
}
.c-nav-item {
    margin-left: 3%;
    color:#1b191c;
}

.c-nav-color {
    color: black !important;
}

.c-nav-link {
    font-size: large;
}

.c-font {
    font-family: Josefin Slab, serif !important;
}
.detail-button{
    color : whitesmoke;
}

.detail-button:hover {
    color:lightpink;
}

}
.c-categories-page {
    background-color: whitesmoke;
    height: 100%;
    min-height: 100vh;
    padding: 0px;
    padding-bottom: 1vh;
}

.c-category-row {
    background-color: #D48166;
    min-height: 10%;
    border-radius: 15px;
    filter: drop-shadow(3px 3px 4px grey);
    display: flex;
    align-items: center;
    transition: transform 1s;
}

.c-category-row:hover {
    transform: translateY(-10px)
}

.c-category-text-div {
    font-size: 20px;
    margin-left: 3%;
    flex-grow: 8;
    color:black;
}
   
}
.c-category-text {
    font-weight: bold;
    margin-top: 1rem !important;
}

.c-category-remove-div {
    margin-right: 5%;
    margin-left: 4%;
    cursor: pointer;
}

.c-category-remove-div:hover {
    cursor: pointer;
    color: lightpink;
}

.c-category-edit-div:hover {
    cursor: pointer;
    color: lightpink;
}

.c-categories-container-recipe {
    text-align: start;
    font-size: 15px;
}

.c-recipe-page {
    background-color:whitesmoke;
    height: 100%;
    padding: 0px;
}

.c-confirm-button {
    border-radius: 40px;
    color: white;
    background-color: #D48166;
}

.c-categories-container-recipe {
    text-align: start;
    font-size: 15px;
}

.c-category-btn {
    border-radius: 25px;
    font-weight: 800
}

.c-cancel-button {
    background-color: none;
    border-radius: 40px;
    border-color: #D48166;
}

.c-Add-button {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 40px;
    border-color: #D48166;
    font-weight: 500;
    color:black;
    text-decoration:none;
}

.c-Add-button:hover {
        color: #D48166;
    }

.c-card-div {
    background-color: whitesmoke !important;
}

.c-recipe-details-page {
    background-color:whitesmoke;
    height: 100%;
    min-height: 95vh;
    padding: 0px;
}

.c-recipe-container {
    display: flex;
    height: 100%;
}

.c-text-container {
    flex-grow: 1;
}

c-delete-modal-title-recipe {
    padding-left: 1.7rem !important;
    margin-top: 6px;
}

.c-delete-confirmation-text-recipe {
    margin-top: 5%;
    font-size: large;
}

.c-edit-recipe-label {
    font-size: large;
}

.c-modal-footer--sticky {
    position: sticky;
    top: 0;
}

.c-edit-modal-content {
    text-align: start !important;
    font-size: medium !important;
}

.c-edit-modal-body {
    margin: 20px 0px;
}

.c-modal-footer {
    border-top: none !important;
}


.c-delete-modal-header {
    border-bottom: none;
}

.c-delete-confirmation-text {
    margin-top: 5%
}

.c-delete-modal-title {
    padding-left: 8rem !important;
    margin-top: 5px;
}

.c-delete-trash {
    border-radius: 50%;
    border-color: #D48166;
    border-style: solid;
    width: 70px;
}

.c-delete-modal-content {
    width: 75%;
}

.c-cancel-delete {
    border-color: #D48166;
    padding: 0.4rem 1rem;
}

.c-delete-button {
    border-radius: 40px;
    color: white;
    background-color: #D48166;
}

.c-form-check-input:checked {
    background-color: #cbacaa;
    border-color: #993d36;
}

.form-control:focus {
    border-color: #cbacaa;
    box-shadow: 0 0 0 0.25rem #cbacaa63;
}

.c-recipe-header {
    margin-left: 7% !important;
    margin-right: 0%;
}

.c-font-color {
    color: black;
}





